body {
	height: 100%;
	background-color: #F79787;
}

header {
	text-align: center;
	font-size: 200%;
}

h1, h2, h3 {
	color: #5E5F7B;
}

article {
	
	height: 75%;
	font-size: 150%;
}

#question {
	text-align: center;
	padding-top: 5px;
}


footer {

	text-align:center;
	height: 25%;
}

#score {
	text-align: center;
	font-size: 175%;
	padding: 5px;
}

#button{
	padding:1%;
	margin-top: 5%;
	text-align:center;
	font-size: 125%;
}