body {
	height: 100%;
	background-color: #F79787;
}

header {
	text-align: center;
	font-size: 200%;
}

h1, h2, h3 {
	color: #5E5F7B;
}

#a0 {
	font-weight: bold;
}

article {
	text-align: center;
	height: 75%;
	font-size: 150%;
}

.question, .answers {
	padding-top: 25px;
}

footer {
	text-align:center;
	height: 25%;
}

#score {
	text-align: center;
	font-size: 175%;
	padding: 5px;
}

#button{
	padding:3%;
	text-align:center;
}